# Ignorar caché de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Ignorar entornos virtuales
venv/
.venv/
env/

# Ignorar archivos de PyInstaller
build/
dist/
*.spec

# Ignorar archivos de configuración del lanzador (si no quieres que sean versionados)
.doom_launcher_config

# Ignorar archivos de macOS
.DS_Store

# Ignorar archivos de Windows
Thumbs.db
